
/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#f6f2f2;
color:#333;
}


/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:white;
border-bottom:1px solid #eee;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li{
cursor:pointer;
font-weight:500;
}

.nav-btn{
background:#b31313;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
}


/* HERO SECTION */

.hero{
height:500px;
background-image: url("images/university.jpg"); 
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
position:relative;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(150,0,0,0.6);
}

.hero-content{
position:relative;
max-width:700px;
}

.hero h1{
font-size:40px;
margin-bottom:15px;
}

.hero p{
margin-bottom:20px;
}

.start-btn{
padding:12px 30px;
background:white;
color:#8b0000;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}




.works{
padding:60px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.card{
background:white;
padding:30px;
border-radius:12px;
width:250px;
border:1px solid #e4bcbc;
}

.card h3{
color:#b31313;
margin-bottom:10px;
}




.featured{
padding:60px;
text-align:center;
}

.college-grid{
margin-top:30px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
}

.college{
padding:12px;
background:white;
border:1px solid #d8a1a1;
border-radius:8px;
cursor:pointer;
font-size:14px;
}

.college:hover{
background:#f8eaea;
}




.testimonials{
padding:60px;
text-align:center;
}

.testimonial-grid{
margin-top:30px;
display:flex;
justify-content:center;
gap:30px;
}

.testimonial{
background:white;
padding:20px;
border-radius:10px;
width:260px;
border:1px solid #e0bcbc;
}

.testimonial span{
display:block;
margin-top:10px;
font-size:13px;
color:#777;
}




.quiz{
padding:60px;
text-align:center;
}

.quiz-box{
background:white;
padding:30px;
width:450px;
margin:auto;
border-radius:10px;
border:1px solid #e0bcbc;
text-align:left;
}

.quiz-btn{
margin-top:15px;
padding:10px 20px;
background:#b31313;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}



.contact{
padding:60px;
}

.contact-container{
display:flex;
justify-content:space-between;
gap:40px;
margin-top:20px;
}

.contact-info{
width:40%;
}

.contact-form{
width:60%;
display:flex;
flex-direction:column;
gap:10px;
}

.contact-form input,
.contact-form textarea{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
}

.contact-form textarea{
height:100px;
}

.contact-form button{
width:120px;
padding:10px;
background:#b31313;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}



.cta{
background:#a50f0f;
color:white;
text-align:center;
padding:60px;
}

.cta-btn{
margin-top:20px;
padding:12px 30px;
border:none;
background:#f0c1c1;
color:#7a0000;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.cta-btn:hover{
background:white;
}



footer{
background:#8d0c0c;
color:white;
display:flex;
justify-content:space-between;
padding:30px 60px;
font-size:14px;
}
